{% extends 'base.html' %}
{% block 'main' %}
{% load static %}

<!-- Start main section -->
<div class="row mt-8">
    <div class="col-md-8">
        {% for x in data %}
        {% if forloop.counter == 1 %}
        <h5 class="bg-info text-white p-2">Customer Details</h5>
        <p><b>Name:</b>&nbsp;&nbsp;&nbsp;{{x.uid.username}}</p>
        <p><b>Email:</b>&nbsp;&nbsp;&nbsp;{{x.uid.email}}</p>

        {% endif %}
        {% endfor %}

        {% for x in data %}
        <div class="row">
            <div class="col-md-8">
                <img src="{{x.pid.pimage.url}}" alt="">
            </div>
            <div class="col-md-8">
                <p><b>Pet Name:</b>&nbsp;&nbsp;&nbsp; {{x.pid.name}}</p>
                <p><b>Price:</b>&nbsp;&nbsp;&nbsp; Rs. {{x.pid.price}}</p>
                <p><b>Category:</b>&nbsp;&nbsp;&nbsp; {{x.pid.cat}}</p>
                <p><b>Pet Details:</b>&nbsp;&nbsp;&nbsp; {{x.pid.Pet_details}}</p>
                <p>
                    <!-- <b>Qty:</b>
                    <a href="/updateqty/0/{{x.id}}"><button class="btn btn-danger">-</button></a>
                    <input type="number" value="{{x.qty}}">
                    <a href="/updateqty/1/{{x.id}}"><button class="btn btn-success">+</button></a>
                </p> -->
                <a href="/remove/{{x.id}}"><button class="btn btn-success">Remove</button></a><br><hr>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-3">
        <h5 class="bg-secondary text-white p-2">Total Amount</h5>
        <p><b>Total({{items}}):</b>Rs. {{total}}</p>
        <hr>
        <p><b>Total Amount to be Paid:</b>Rs. {{total}}</p>
        <a href="/makepayment/"><button class="btn btn-secondary">Make Payment</button></a>

    </div>
</div>

<!-- End main section -->



{% endblock 'main' %}